body{
    margin: 0 auto;
    max-width: 750px;
}
main {
    display: table;
    margin: 0 auto;
    padding: 16px;
    background: #ECEFF1;
}
a{
    cursor: pointer;
    text-decoration: underline;
}

#root {
    margin: 16px;
}

.dialog {
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    max-width: 500px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 4px 16px black;
    border-radius: 2px;
    display: none;
}
.dialog.show {
    display: block;
}
.close-btn {
    position: absolute;
    right: 0;
    padding: 10px 16px;
    cursor: pointer;
}
.scrollable {
    min-height: 250px;
    overflow-y: auto;
    padding: 16px;
}

#add-employee-btn{
    background: #795548;
    display: table;
    color: white;
    padding: 0 4px;
    box-shadow: 0 0 2px black;
    margin: 4px;
    position: absolute;
    top: 40px;
    right: 13px;
    cursor: pointer;
}
#add-employees-dialog {
    top: 72px;
    width: 400px;
}

#header {
    background: #795548;
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
#root>div{
    display: table-cell;
    vertical-align: top;
}
#root>div:last-child{
    width: 100%;
}

#left-side {
    width: 170px;
    margin: 0 8px;
}
#all-employees-btn {
    cursor: pointer;
    margin: 8px;
    text-decoration: underline;
    font-weight: bold;
}
.project-item {
    background-color: #EFEBE9;
    border-bottom: 1px solid white;
    padding: 4px;
    cursor: pointer;
}
.project-item.selected{
    background-color: #BCAAA4;
}
.title {
    padding: 8px;
    font-weight: bold;
}

#content{
    width: 100%;
    padding: 0 18px;
    box-sizing: border-box;
}

.items {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 32px;
}
.items td {
    padding: 4px 8px;
}
.items>thead{
    color: gray;
}
.items tr {
    border-bottom: 1px solid #B0BEC5;
}

.common-form {
    margin: 16px;
}
.common-form input, .common-form select{
    width: 200px;
    padding: 4px;
    border: 1px solid #795548;
    box-sizing: border-box;
}
.common-form select{
    padding: 4px 0;
}
.common-form label{
    /*color: #607D8B;*/
}
.common-form input[type="submit"]{
    float: right;
    width: initial;
    padding: 4px 16px;
    background-color: #795548;
    color: white;
}
.common-form input[type="checkbox"]{
     width: initial;
     background-color: #795548;
     color: white;
 }
.common-form input[type="submit"]:hover{
    cursor: pointer;
}
.common-form>table{
    margin: 0 auto;
}
